<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>

    <!-- container principal -->
    <div class="auth-container">
        <div class="auth-box"></div>

        <!-- login -->
         <!-- logo da marca -->
        <div class="auth-side login">
            <img src="/static/img/logo-brothers.svg" alt="Ice Brothers" width="200" >

            <h2>Login</h2>

            <!-- formulário -->
            <form method="POST" action="/logar">
                <input type="text" name="Usuario" placeholder="Usuario" required>
                <input type="password" name="Senha" placeholder="Senha" required>

                <button type="submit">Entrar</button>
            </form>

            <!-- botao de cadastrar se caso o usuario nao for cadastrado -->
             <div class="cadastro-link">
                <p>Não possui uma conta?</p>
                <a href="/cadastro">
                    <button type="button">Cadastrar</button>
                </a>
            </div>

            </div>
        </div>

       
    
</body>
</html>